# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Tests & Qualité
.pytest_cache/
.coverage
htmlcov/
*.log
test_api.py
convention_de_nommage_des_branches_git_du_projet.txt


# Modèles & Data (on ne veut que les versions trackées via LFS ou l'API)
.ipynb_checkpoints
.DS_Store

# FastAPI / Uvicorn
.vscode/
.idea/